@model projekt_programowanie.DTOs.AddWorkerAvailabilityDto

<h3>Dodaj swoją dostępność</h3>

@using (Html.BeginForm("AddWorkerAvailabilities", "Worker", FormMethod.Post))
{

    <div class="form-group">
        @Html.LabelFor(model=>model.Date,"Data dostępności")
        @Html.TextBoxFor(model => model.Date, new { @class = "form-control", @type="date"})

        <p style="color:red"><span asp-validation-for=Date></span></p>
    </div>
    <div class="form-group">
        @Html.LabelFor(model=>model.Start,"Poczętek dostępności")
        @Html.TextBoxFor(model => model.Start, new { @class = "form-control", @type="time"})

        <p style="color:red"><span asp-validation-for="Start"></span></p>
    </div>
    <div class="form-group">
        @Html.LabelFor(model=>model.End,"Koniec dostępności")
        @Html.TextBoxFor(model => model.End, new { @class="form-control", @type="time"})

        <p style="color:red"><span asp-validation-for="End"></span></p>
    </div>
    <input type="submit" class="btn btn-primary " value="Dodaj" />
}    