@model projekt_programowanie.DTOs.LoginDto

<h3>Logowanie</h3>

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model=>model.Email,"Email")
        @Html.TextBoxFor(model => model.Email, new { @class="form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model=>model.Password,"Hasło")
        @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @type = "Password"  })
    </div>

    if(!string.IsNullOrEmpty(ViewBag.message))
    {
        <p style="color:red">@ViewBag.message</p>
    }

    <input type="submit" class="btn btn-primary " value="Zaloguj się" />
}




