@model projekt_programowanie.DTOs.UpdateDataDto

<h3>Zmiana danych</h3>

@using (Html.BeginForm("UpdateData", "Account", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model=>model.FirstName,"Imię")
        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control"})

        <p style="color:red"><span asp-validation-for=FirstName></span></p>
    </div>
    <div class="form-group">
        @Html.LabelFor(model=>model.LastName,"Nazwisko")
        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control"})

        <p style="color:red"><span asp-validation-for=LastName></span></p>
    </div>
    <div class="form-group">
        @Html.LabelFor(model=>model.Phone,"Telefon")
        @Html.TextBoxFor(model => model.Phone, new { @class="form-control", @type = "tel" })

        <p style="color:red"><span asp-validation-for=Phone></span></p>
    </div>
    <div class="form-group">
        @Html.LabelFor(model=>model.Email,"Email")
        @Html.TextBoxFor(model => model.Email, new { @class="form-control" })

        <p style="color:red"><span asp-validation-for=Email></span></p>
    </div>
    <div class="form-group">

        @if(Model.ChangePasswordChecked == false)
        {
            ViewBag.Display = "display:none";
        }

        @Html.CheckBoxFor(model => model.ChangePasswordChecked, new {@id= "passwordCheck", @onclick="IsChecked()"}) Chcesz zmienić hasło ?
        <p id="label" style=@ViewBag.Display><br />Podaj nowe hasło:</p>
        @Html.TextBoxFor(model => model.Password, new { @id="text", @style=ViewBag.Display, @class = "form-control", @type = "Password"  })

        <p style="color:red"><span asp-validation-for=Password></span></p>

        <script>
            function IsChecked()
            {
                var checkBox = document.getElementById("passwordCheck");
                var text = document.getElementById("text");
                var label = document.getElementById("label");
                if (checkBox.checked == true) 
                {
                    text.style.display = "block";
                    label.style.display = "block";
                } 
                else 
                {
                    text.style.display = "none";
                    label.style.display = "none";
                }
            }
        </script>

    </div>

    <input type="submit" class="btn btn-primary " value="Zaaktualizuj dane" />
}
<br />

